.btn{
    background-color: #ffffff !important;
}

.navbar-proklik {
    background-color: rgb(0, 0, 0);
    display: center;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    font-size: larger;
    font-style: bold;
}



.navbar-proklik a {

    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    padding-left: 35px;
    padding-right: 35px;
    margin: 0px;
    cursor: pointer;
    color: #ffffff;
    vertical-align: middle;
    padding: 7.5px 16px;
    text-align: center;
    margin-right: 4px;
}

.navbar-proklik a:hover{
    background-color: #505050;
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    vertical-align: middle;
    border-bottom: red 2px solid;
    padding: 7.5px 16px;
    text-align: center;
    margin-right: 4px;
}

.maps{
    display: inline-block;
}

.footerBottom a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}

.social a{
    padding: 5px;
    background-color: white;
     border-radius: 9px;
}

.footerBottom a:hover{
    background-color: #505050;
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
}

.card-title{
    margin-top: 10px;
}

.produkt:hover{

    border-color: yellow;
}

.footerTop{
    text-align: center;
    padding: 30px;
    background-color: #292929;
}

.footerTop a{
    padding: 5px;
    color: white;
    font-size: larger;
}

.footerTop a:hover{
    background-color: #6d6d6d;
    border-radius: 7px;
    color: white;
    text-decoration: none;
}

body{
    margin: 0px;
    background-color: lightgrey;
    font-family: "Tahoma", "Tahoma", sans-serif;
    font-weight: bold;
}

footer{
    background-color: black;
    color: #ffffff;
    text-align: left;
}